#chatbot-icon-wrapper {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 10000;
}

#chatbot-icon {
    width: 50px;
    height: 50px;
}

#chatbot-faq {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 20px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 300px;
    height: 400px;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 10000;
}

#chatbot-faq h2 {
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: center;
}

#chatbot-faq ul {
    list-style-type: none;
    padding-left: 0;
}

#chatbot-faq li {
    margin-bottom: 5px;
    text-align: left;
}

.chatbot-faq-list {
    list-style-type: none;
    padding: 0;
}

.chatbot-faq-list {
    list-style-type: none;
    padding: 0;
}

.chatbot-question, .chatbot-answer {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    text-align: left;
    margin-left: 0;
    padding: 15px;
}

.chatbot-question {
    position: relative;
    background-color: #f2f2f2;
    color: #333;
    max-width: 75%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    clear: both;
    float: left;
    margin-left: 10px;
}

.chatbot-answer {
    position: relative;
    background-color: #0073aa;
    color: white;
    max-width: 75%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    clear: both;
    float: right;
    margin-right: 0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.chatbot-text {
    display: block;
    padding: 0;
    margin: 0;
    text-align: left;
}

#close-chatbot {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.sticky-wrapper {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
    padding: 5px 0;
}

.sticky-wrapper h2 {
    margin: 0;
}

#close-chatbot.sticky {
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
}
